

<div class="form">
    <form [formGroup]="miFormulario" class="container">

        <div class="mb-3">
          <label for="name" class="form-label">Nombre y Apellido</label>
          <input type="string" class="form-control" id="name" aria-describedby="nameHelp" autocomplete="off" required formControlName="name">
        </div>

        <div class="mb-3">
          <label for="cuit" class="form-label">CUIT</label>
          <input type="string" class="form-control" id="cuit" autocomplete="off" required formControlName="cuit">
        </div>
        
        <div class="mb-3">
          <label for="nacimiento" class="form-label">Fecha de nacimiento</label>
          <input type="date" class="form-control" id="nacimiento" value="2022-09-05"
          min="2022-09-03" pattern="\d{4}-\d{2}-\d{2}" formControlName="date" >
        </div>
        
        

        

        <button type="submit" class="btn btn-primary " [disabled]='desabilitar' (click)="agregarCliente()" >Submit</button>
        <p>{{mensaje}} </p>


        <label for="Titulo persona"></label>
        <input type="text" class="form.control" [(ngModel)] ='titulo'>{{titulo}}
    </form>

</div>